body,.ui-content{overflow-x:hidden;overflow-y:hidden;}
.ui-mobile .ui-page-active{overflow-x:visible;}
.ui-input-search,.ui-input-text{border-style:none;border-width:1px;margin:0;}
.ui-collapsible-inset, .ui-collapsible-set{margin:0;}

.ui-header .left {display:inline-block;left:10px;position:absolute;top:0;}
.ui-header .right {display:inline-block;right:10px;position:absolute;top:0;}

.ui-popup .ui-icon,.ui-popup .desc{display:inline-block;padding:7px;}
.ui-popup .ui-icon{width:20px;height:20px;vertical-align:top;}
.ui-popup .desc{width:calc(100% - 30px - 28px);vertical-align:top;}

.condition{display:inline-block;width:calc(100% - 140px);}
.condition.btn{display:inline-block;margin:0 5px 0 5px;vertical-align:top;width:115px;}

.fitContent{display:inline-block;width:fit-content;vertical-align:top;}
.fitContent .ui-label{display:inline-block;min-width:80px;width:fit-content;}
.fitContent .ui-text{display:inline-block;width:fit-content;}
.fitContent .ui-text input{width:250px;margin-top:5px;}

.choice{border:1px solid lightgray; /*{a-bhover-border}*/;cursor:pointer;display:inline-block;min-width:50px;padding:7px;text-align:center;text-shadow:0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #f3f3f3 /*{a-bup-shadow-color}*/;font-weight:bold;font-size:12.5px;box-shadow:0 1px 3px /*{global-box-shadow-size}*/ rgba(0,0,0,.2) /*{global-box-shadow-color}*/;background-clip:padding-box;margin:7px 0;}
.choice:hover{background-color:#fad2e1;}
.choice.select{background-color:#CDDAFD;font-weight:bold;}
.choice.date{width:100px;}

.ui-list{margin-top:10px;position:relative;}
.ui-list .ui-line{border:1px solid lightgray;vertical-align:middle;}
.ui-list .ui-header{border:unset;}
.home .ui-list .ui-header .placeName{width:calc(100% - 1210px - 174px - 20px)!important;}
.ui-list .ui-header .ui-line .ui-blank{width:6px;}
.ui-list .ui-header .ui-line div{display:inline-block;padding:7px;text-align:center;vertical-align:middle;}
.ui-list .ui-body{overflow-x:hidden;overflow-y:scroll;padding:unset;}
.ui-list .ui-body .ui-line:hover{cursor:pointer;background-color:#fad2e1;}
.ui-list .ui-body .ui-line.odd{background-color:#e9e9e9;}
.ui-list .ui-body .ui-line div{display:inline-block;padding:7px;vertical-align:top;overflow-x:hidden;text-overflow:ellipsis;white-space:nowrap;}
.ui-list .ui-body .ui-line .hide{display:none;}
.ui-list .ui-body .ui-line .ui-input-text{width:100%;padding:unset;}

.home .ui-list .id{width:130px;text-align:center;}
.home .ui-list .prefix{width:100px;text-align:center;}
.home .ui-list .ui-header .fullName{width:calc((100% - 490px - 98px) / 2)!important;}
.home .ui-list .fullName{width:calc((100% - 470px - 98px) / 2);}
.home .ui-list .position{width:40px;text-align:center;}

.half{width:calc(50% - 17px);}
.hide{display:none !important;}

@media (max-width:1330px) {
	.half{width:100%;}
}
@media (max-width:1230px) {
	.half{width:calc(50% - 3px);}
}
@media (max-width:640px) {
}
