.ui-page {background-color: #f7eee9;}
.wrapper {margin-top: 130px;}
.btnBack {background: url(/images/Wetest/Previous.png);}
.footerButton {display: flex;justify-content: space-between;padding: 10px 10% 20px 10%;}

.iconReading{background: url(/images/Wetest/reading.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width:50px;height:50px;}
.iconListen{background: url(/images/Wetest/listening.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width:50px;height:50px;}
.iconVocab{background: url(/images/Wetest/vocab.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width:50px;height:50px;}
.iconGrammar{background: url(/images/Wetest/gramma.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width:50px;height:50px;}
.iconSituation{background: url(/images/Wetest/situation.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width:50px;height:50px;}

.btnReading{background: url(/images/Wetest/btnRead.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnListen{background: url(/images/Wetest/btnList.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnVocab{background: url(/images/Wetest/btnVocab.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnGrammar{background: url(/images/Wetest/btnGrammar.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnSituation{background: url(/images/Wetest/btnSit.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}


.btnReading.Selected{background: url(/images/Wetest/readActive.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnListen.Selected{background: url(/images/Wetest/listActive.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnVocab.Selected{background: url(/images/Wetest/vocabActive.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnGrammar.Selected{background: url(/images/Wetest/grammarActive.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}
.btnSituation.Selected{background: url(/images/Wetest/sitActive.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width: 115px;height: 55px;margin-left: 10px;cursor:pointer;}

.Lessondiv{float:left;width:80px;height:50px;background-color:#82d1f5;line-height:50px;text-align:center;margin-left:23px;border-radius:1em;}

.LessonReading{background-color:#82d1f5;cursor:pointer;z-index:100;}
.LessonListening{background-color:#d98c8a;cursor:pointer;z-index:100;}
.LessonVocabulary{background-color:#64c087;cursor:pointer;z-index:100;}
.LessonGrammar{background-color:#d3c2df;cursor:pointer;z-index:100;}
.LessonSituation{background-color:#e5b99e;cursor:pointer;z-index:100;}

.skilldiv {margin-top:15px;}

.otherButton{background: url(/images/Wetest/other.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;width:25px;height:25px;margin:auto;cursor:pointer;z-index:100;}

#LessonType {margin-top:40px;}

#AllReading .Lessondiv{margin-bottom:10px;}
#AllListening .Lessondiv{margin-bottom:10px;}
#AllGrammar .Lessondiv{margin-bottom:10px;}
#AllSituation .Lessondiv{margin-bottom:10px;}
#AllVocabulary .Lessondiv{margin-bottom:10px;}

#RandomType .btn,#skillRandom .btn {width: 45px; min-width: 45px; margin-left: 15px;}
#RandomType,#skillRandom{margin-top: 50px;}
#btnRandomAll{margin-left: 105px!important;}  
#btnRandomReading,#btnRandomListening,#btnRandomVocab,#btnRandomGrammar,#btnRandomSituation {line-height: 30px;cursor: pointer;margin: auto;}
.ui-input-text{margin-top: -3px!important; background: none!important; border: none!important; box-shadow: none!important;color: white!important;}
#UserType{text-align: center!important;}
.btnStart{background: url(/images/Wetest/btnStart.png);float: left;background-repeat: no-repeat;background-size: contain;background-position: left;    width: 125px;
    height: 60px;}

select {border-style: solid;
    border-radius: 1em;
    line-height: 30px;
    padding: 10px;
    height:  56px;
    color: #0a3820;
    border-color: #0a3820;
    cursor: pointer;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px -1px #00000038, 0 2px 4px -1px #00000038;
    width: fit-content;
    margin: auto;
    min-width: 20%;
    border-width: 3px;
}

#SelectLevel {margin-left: 45px;}

.CheckQuiz {    background: url(/images/Wetest/star.png);
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 25px;
    height: 25px;
    margin-right: 11px;
     display: inline-flex;}

.ui-popup-screen {opacity: 0.97!important;}