* {touch-action: manipulation;}

.wrapper {margin-top: 150px;}

.login .smallLogo {background-repeat: no-repeat;background-size: contain;background-position: left;width: 50px;height: 40px;position: absolute;}
.userlogo {background: url(/images/Wetest/User.png);}
.pswlogo {background: url(/images/Wetest/Psw.png);}

.login {margin: 0 15% 0 15%;}
.login .ui-input-text {margin-left: 65px;line-height: 35px;}
.login .textRight {text-align: right;}

.login .registerlink {cursor: pointer;text-decoration: underline; cursor: pointer;}

.btn { text-align: center; margin-top: 40px;}

 .btnMainMenu {width:40%;border-style: none; border-radius: 1em;padding: 10px;height: 100px;color: #52734d;border-color: #0a3820;
      cursor:pointer;background-color: #f9f9f9; box-shadow: 0 4px 6px -1px #00000038, 0 2px 4px -1px #00000038;
      margin: auto;text-align:center;}

.practiceIcon {background: url(/images/Wetest/PracticeMenu.png);background-repeat: no-repeat;background-size: contain;background-position: center;width: 100%;height: 60px;margin-bottom:10px;}
.goalIcon {background: url(/images/Wetest/GoalMenu.png);background-repeat: no-repeat;background-size: contain;background-position: center;width: 100%;height: 60px;margin-bottom:10px;}
.mockUpExamMenuIcon {background: url(/images/Wetest/MockUpExamMenu.png);background-repeat: no-repeat;background-size: contain;background-position: center;width: 100%;height: 60px;margin-bottom:10px;}
.reportIcon {background: url(/images/Wetest/ReportMenu.png);background-repeat: no-repeat;background-size: contain;background-position: center;width: 100%;height: 60px;margin-bottom:10px;}

.txtMenu {font-size:1.4em;}

.menuButton {display:flex;}